.attachedBars-2BCP3l{
    background: var(--background-tertiary);
    margin-bottom: var(--primary-spacing);
    border-radius: var(--primary-rounding);
    width: min-content;
    .clipContainer-31nYlH{
        padding: 0;
        margin: 0;
        .replyBar-1oi75v{
            background: var(--background-tertiary);
            border-radius: var(--primary-rounding);
            .name-3DDHNY{
                text-transform: capitalize;
            }
        }
    }
}
.jumpToPresentBar-1cEnH0{
    background-color: var(--background-tertiary);
    border-radius: var(--primary-rounding);
    bottom: var(--secondary-spacing);
    left: var(--primary-spacing);
    width: fit-content;
    padding: 3px;
    opacity: 1;
}
.newMessagesBar-1hF-9G{
    background-color: var(--background-tertiary);
    border-radius: var(--primary-rounding);
    right: var(--primary-spacing);
    left: var(--primary-spacing);
    top: var(--primary-spacing);
    padding: 3px;
    opacity: 1;
}
.base-3bcbY3{
    background-color: var(--background-tertiary);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    margin-left: 0 !important;
    position: relative;
    padding: 3px;
    left: 0;
}