.wrapper-1gVUIN{
    background-color: var(--background-primary) !important;
    .callContainer-HtHELf{
        background-color: #2D325A !important;
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        margin-bottom: 0 !important;
        .controlButton-2PMNom{
            svg{
                foreignObject{
                    mask: none;
                    .colorable-3rVGna.primaryDark-2UJt1G{
                        background-color: var(--background-primary);
                        border-radius: var(--primary-rounding);
                    }
                }
            }
        }
        .centerButton-1IShs7{
            background-color: var(--background-primary);
            border-radius: var(--primary-rounding);
        }
        .contextMenuNub-NuTZ_U{
            background-color: var(--background-tertiary);
            border-radius: var(--primary-rounding);
            bottom: -10px;
            right: -10px;
        }
        .wrapper-3mYmFS{
            svg{
                foreignObject{
                    mask: none;
                    img{
                        border-radius: var(--primary-rounding);
                    }
                }
            }
        }
        .border-2BJQjd{
            border-radius: var(--primary-rounding);
        }
        .status-1ZXjSF{
            border-radius: var(--primary-rounding);
            bottom: -10px;
            right: -10px;
        }
        .gradientContainer-phMG8d{
            background: linear-gradient(var(--background-tertiary) 30% , transparent 60%);
        }
    }
}
.container-ZMc96U.transparent-1lUmft{
    width: calc(100% - var(--secondary-spacing));
    background-color: var(--background-primary);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    .iconWrapper-2awDjA,
    .divider-q3P9HC,
    &::after{
        display: none;
    } 
    .toolbar-3_r2xA{
        .searchFilter-2UfsDk,
        .searchAnswer-23w-CH{
            background-color: var(--background-accent) !important;
        }
        [href="https://support.discord.com"]{
            display: none;
        }
    }
}
