.chat-3bRxxu {
    background: transparent;
    .content-yTz4x3 {
        margin: var(--primary-spacing);
        .chatContent-a9vAAp{
            background-color: var(--background-secondary-alt);
            border-radius: var(--primary-rounding);
        }
        .scroller-11cdZM{
            background-color: var(--background-secondary-alt);
            border-radius: var(--primary-rounding);
        }
        &::before {
            display: none;
        }
    }
}
.noChannel-3LgMRp{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    &::before{
        border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
        width: calc(var(--sidebar-width) - var(--primary-spacing));
        background-color: var(--background-secondary-alt);
        left: calc(var(--tertiary-spacing) * 2.56);
        padding-left: var(--primary-spacing);
        color: var(--text-normal);
        content: 'No Channels';
        letter-spacing: .8px;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: left;
        position: fixed;
        display: flex;
        height: 60px;
    }
}
