.form-3gdLxP{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    padding: 0 var(--primary-spacing);
    padding-right: 0 !important;
    .channelTextArea-1FufC0{
        border-radius: var(--primary-rounding);
        margin-bottom: var(--primary-spacing);
        background-color: transparent;
        .scrollableContainer-15eg7h{
            background-color: transparent;
            border-radius: 0;
            .sansAttachButton-1ERHue{
                padding: 0;
                .attachWrapper-3slhXI{
                    background-color: var(--background-tertiary);
                    border-radius: var(--primary-rounding);
                    margin-right: var(--primary-spacing);
                    width: 50px;
                    .attachButton-_ACFSu{
                        margin: 0 !important;
                        height: 100%;
                        width: 100%;
                        padding: 0;
                    }
                }
                .textArea-2CLwUE{
                    background-color: var(--background-tertiary);
                    border-radius: var(--primary-rounding);
                    margin: 0 var(--primary-spacing);
                    margin-left: 0 !important;
                    .placeholder-1_mJY1,
                    .slateTextArea-27tjG0{
                        padding: var(--secondary-rounding);
                    }
                }
                .textAreaDisabled-10ObTX{
                    margin: 0 !important;
                }
                .buttons-uaqb-5{
                    background-color: var(--background-tertiary);
                    border-radius: var(--primary-rounding);
                    margin: 0;
                }
            }
        }
    }
    .wrapper-2SplAX{
        width: calc(100% - var(--primary-spacing));
        border-radius: var(--primary-rounding);
        margin-bottom: var(--primary-spacing);
    }
    &::before{
        display: none;
    }
}
.channelTextArea-220_Gz{
    .scrollableContainer-15eg7h{
        background-color: var(--background-tertiary);
        border-radius: var(--primary-rounding);
    }
}