.container-2wlB3z{
    background: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin-left: var(--primary-spacing);
}
.members-1998pB, .members-1998pB>div{
    background-color: transparent;
    padding: 0 !important;
    &::-webkit-scrollbar{
        display: none;
    }
}
.member-3-YXUe{
    margin: 0 var(--primary-spacing);
}
.membersWrap-2h-GB4{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin-left: var(--primary-spacing);
}

.container-2wlB3z{
    .membersWrap-2h-GB4{
        margin: 0 !important;
    }
}