.container-2Oqvgx{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin-left: var(--primary-spacing);
    .tabs-1RhQha{
        background-color: var(--background-secondary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        margin-bottom: 0 !important;
        .tab-FftSDB {
            text-align: center;
            width: 75px;
        }
    }
    .container-NkLXgf{
        padding: var(--primary-spacing) !important;
        background: transparent;
        .channelTopic-1hZBwz{
            word-break: break-all;
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .container-2o3qEW{
        margin-left: 0 !important;
    }
}
.container-2o3qEW{
    background: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin-left: var(--primary-spacing);
    .membersWrap-3NUR2t{
        .members-3WRCEx,
        .members-3WRCEx>div{
            background-color: transparent;
            .member-2gU6Ar{
                margin: 0 var(--primary-spacing);
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}
.membersWrap-3NUR2t:not(.hiddenMembers-8kpYM0){
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin-left: var(--primary-spacing);
    .members-3WRCEx, .members-3WRCEx>div{
        background-color: transparent;
    }
}
