.container-cH6QoY{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    width: unset;
    .callContainer-BGIngG{
        background-color: transparent !important;
        .scroller-35tvpe{
            background-color: transparent;
            padding: 0 !important;
            .container-3r7mfc{
                border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
                background-color: var(--background-primary);
                padding: var(--primary-spacing);
                margin: var(--primary-spacing);
                margin-bottom: 0 !important;
            }
            .rowContainer-jDvyA4{
                border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
                background-color: var(--background-primary);
                padding: var(--secondary-spacing) 0;
                margin: 0 var(--primary-spacing);
                width: unset;
            }
            .divider-vv_iHh{
                margin-top: var(--tertiary-spacing) !important;
                background-color: var(--background-primary);
                border-radius: var(--primary-rounding);
                margin: 0 var(--primary-spacing);
                border: none;
                width: unset;
                height: 5px;
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
        .topControls-23RE3h{
            border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
            width: calc(var(--sidebar-width) - var(--secondary-spacing));
            top: calc(var(--tertiary-spacing) + var(--primary-spacing));
            background-color: var(--background-secondary-alt);
            left: calc(var(--tertiary-spacing) * 2.55);
            padding: var(--primary-spacing);
            position: fixed;
            height: 65px;
            .title-17SveM{
                max-width: 90px;
            }
        }
        .videoControls-353CsJ{
            flex-direction: column-reverse;
        }
    }
    .gradientContainer-phMG8d{
        display: none;
    }
    .bottomControls-31YuPK{
        padding-bottom: var(--primary-spacing);
        .centerButton-1IShs7{
            border-radius: var(--primary-rounding) !important;
            background-color: var(--background-primary);
        }
        .contextMenuContainer-1RO4DQ{
            svg{
                foreignObject{
                    mask: none;
                }
            }
            .contextMenuNub-NuTZ_U{
                background-color: var(--background-tertiary);
                border-radius: var(--primary-rounding);
                bottom: -10px;
                right: -10px;
            }
        }
    }
}