.container-ZMc96U.themed-Hp1KC_{
    background: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    padding: var(--primary-spacing);
    margin: var(--primary-spacing);
    margin-bottom: 0 !important;
    justify-content: flex-end;
    width: unset;
    .children-3xh0VB{
        left: calc(var(--tertiary-spacing) * 2.6);
        top: calc(var(--tertiary-spacing) * 1.25);
        height: 60px;
        position: fixed;
        .title-17SveM{
            max-width: calc(var(--sidebar-width) - var(--primary-spacing));
            padding-left: var(--primary-spacing);
            text-transform: capitalize;
            letter-spacing: .8px;
            line-height: normal;
            font-size: 1.35rem;
        }
        .container-89zvna{
            width: calc(var(--sidebar-width) - var(--primary-spacing));
            padding-left: var(--primary-spacing);
        }
        .topic-11NuQZ{
            left: calc(var(--tertiary-spacing) * 9.4);
            top: calc(var(--tertiary-spacing) * 1.65);
            max-width: 570px;
            position: fixed;
        }
        .topPill-3DJJNV{
            left: calc(var(--tertiary-spacing) * 9.4);
            top: calc(var(--tertiary-spacing) * 1.56);
            position: fixed;   
        }
        .status-12NUUC{
            left: calc(var(--tertiary-spacing) * 9.65);
            top: calc(var(--tertiary-spacing) * 1.65);
            position: fixed;
        }
        .akaBadge-3i7V3p{
            left: calc(var(--tertiary-spacing) * 10);
            top: calc(var(--tertiary-spacing) * 1.65);
            position: fixed;
        }
        .nicknames-10Sg6e{
            left: calc(var(--tertiary-spacing) * 11.1);
            top: calc(var(--tertiary-spacing) * 1.65);
            position: fixed;
        }
        .iconWrapper-2awDjA,
        .divider-q3P9HC,
        &::after{
            display: none;
        } 
    }
    .toolbar-3_r2xA{
        .searchFilter-2UfsDk,
        .searchAnswer-23w-CH{
            background-color: var(--background-accent) !important;
        }
        [href="https://support.discord.com"]{
            display: none;
        }
    }
}
.headerBar-1dSpQr{
    background-color: transparent !important;
}