.container-1NXEtd {
    background-color: transparent;
    .scroller-1ox3I2 {
        background-color: var(--background-secondary-alt);
        margin-top: calc(var(--primary-spacing) + 4px) !important;
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing) 0;
        margin-bottom: 0 !important;
        [style="height: 84px;"] {
            height: 140px !important;
        }
        .container-1xC34H{
            top: calc(var(--primary-spacing) - 15px);
            background-color: var(--background-primary);
            border-radius: var(--primary-rounding);
            margin: 0 var(--primary-spacing);
            padding: var(--primary-spacing);
            position: relative;
            [role="separator"] {
                display: none;
            }
        }
        .containerDefault-3TQ5YN {
            padding-top: var(--primary-spacing);
            .container-q97qHp,
            .wrapper-1S43wv {
                color: var(--interactive-normal);
                &:hover {
                    color: var(--interactive-hover);
                }
            }
            &:nth-child(2){
                padding-top: var(--secondary-spacing);
            }
        }
        .wrapper-NhbLHG {
            .content-1gYQeQ {
                margin: 0 var(--primary-spacing);
                .mainContent-20q_Hp {
                    .icon-2W8DHg {
                        color: var(--interactive-normal);
                    }
                }
                .children-1MGS9G {
                    .iconBase-2G48Fc:not(.mentionsBadge-2ckrKL) {
                        display: none;
                    }
                    .mentionsBadge-2ckrKL {
                        .numberBadge-37OJ3S {
                            background-color: transparent !important;
                            right: var(--primary-spacing);
                            position: relative;
                            top: -1px;
                            &::after {
                                background-color: hsl(
                                    359,
                                    calc(var(--saturation-factor, 1) * 82.6%),
                                    59.4%
                                );
                                border-radius: var(--primary-rounding);
                                position: absolute;
                                height: 20px;
                                content: "";
                                width: 5px;
                                right: -8px;
                                top: 0px;
                            }
                        }
                    }
                }
            }
            .unread-36eUEm {
                background-color: var(--background-tertiary);
                border-radius: var(--primary-rounding);
                right: var(--secondary-spacing);
                height: 20px;
                left: unset;
                width: 5px;
                top: 12px;
            }
        }
        .container-1Bj0eq {
            display: flex;
            .spine-29OFwR {
                color: var(--background-tertiary);
                height: 16px;
                width: 16px;
            }
            .containerDefault-YUSmu3 {
                margin-left: var(--secondary-spacing);
                width: 100%;
            }
        }
        .containerDefault-YUSmu3 {
            .list-2x9Cl9 {
                padding: 0 var(--primary-spacing);
            }
            .listDefault-1QEzz4 {
                .activityRow-2wnr1d {
                    background-color: var(--background-primary);
                    border-radius: var(--primary-rounding);
                    margin: var(--primary-spacing);
                    padding-left: 0 !important;
                    padding: 5px;
                    .content-2Lhv86{
                        margin-left: var(--primary-spacing);
                        .icon-3tOLii{
                            margin-left: 0 !important;
                        }
                    }
                }
                .separator-2jb_gA{
                    display: none;
                }
            }
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}
