.privateChannels-1nO12o{
    margin-top: calc(var(--tertiary-spacing) * 1.5);
    background-color: transparent;
    .searchBar-6Kv8R2{
        border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
        padding-bottom: calc(var(--tertiary-spacing) * 1.6);
        background-color: var(--background-secondary-alt);
        box-shadow: none;
        z-index: 0;
        .searchBarComponent-32dTOx{
            border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
            background-color: var(--background-primary);
            font-size: 16px;
            height: 50px;
        }
    }
    .scroller-1JbKMe{
        background-color: var(--background-secondary-alt);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing) 0;
        margin-bottom: 0 !important;
        .content-3YMskv {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: center;
            margin: 0 var(--primary-spacing);
            .channel-2QD9_O{
                max-width: var(--sidebar-content-width-1);
                margin: 2px 0;
            }
            .selected-aXhQR6:not([href*="/channels/@me/"]) .layout-2DM8Md{
                background-color: var(--background-secondary) !important;
            }
            & > a {
                &:not([href*="/channels/@me/"]) {
                    flex-grow: 1;
                    width: 20%;
                    margin: var(--primary-spacing) 0px 0 0px;
                    [class*="content-"] {
                        display: none;
                    }
                    [class*="layout-"] {
                        background: var(--background-primary);
                        border-radius: var(--primary-rounding);
                        justify-content: center;
                        padding: 0px !important;
                        &:hover{
                            background-color: var(--background-secondary);
                        }
                    }
                }
            }
            .children-gzQq2t {
                margin-left: 0px;
            }
            & > h2 {
                width: 100%;
            }
            & > a[href*="/channels/@me/"] {
                width: 100%;
            }
            & > a[href='/library'] {
                margin: var(--primary-spacing) var(--primary-spacing) 0 var(--primary-spacing);
                .linkButtonIcon-Mlm5d6 {
                    position: relative;
                    bottom: 1px;
                }
            }
            & > a[href='/discovery'] {
                margin: var(--primary-spacing) var(--primary-spacing) 0 var(--primary-spacing);
                .linkButtonIcon-Mlm5d6 {
                    position: relative;
                    bottom: 0px;
                }
            }
            & > a {
                &:not([href*="/channels/@me/"]) {
                    [class*="avatar-"] {
                        margin: 0 !important;
                    }
                }
            }
            & > a[href='/store'] {
                .linkButtonIcon-Mlm5d6 {
                    position: relative;
                    bottom: 1px;
                }
            }
        }
        [href="/channels/@me"]{
            .children-gzQq2t{
                position: absolute;
                top: 35px;
                right: -2px;
                .numberBadge-2s8kKX{
                    border-radius: var(--primary-rounding);
                }
            }
        }
        [style="height: 8px;"]{
            height: var(--primary-spacing) !important;
        }
        .channel-2QD9_O{
            border-radius: var(--primary-rounding);
            margin: 0 var(--primary-spacing);
            max-width: unset;
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
}