.root-g14mjS,
.modal-2RrUKJ{
    background-color: var(--background-primary) !important;
    border-radius: var(--primary-rounding);
    box-shadow: none !important;
    .footer-31IekZ{
        background-color: var(--background-secondary-alt);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        box-shadow: none;
    }
    .oauth2Wrapper-p_8bbd{
        background-color: var(--background-secondary-alt);
    }
}
.oauth2Wrapper-p_8bbd{
    background-color: var(--background-secondary-alt);
}