.root-8LYsGj{
    background-color: transparent !important;
    border-radius: var(--primary-rounding);
    box-shadow: none;
    .topSection-13QKHs{
        background-color: transparent;
        border-radius: var(--primary-rounding);
        header{
            background-color: var(--background-primary);
            border-radius: var(--primary-rounding);
            padding:var(--primary-spacing) 0;
            .banner-1YaD3N{
                border-radius: var(--primary-rounding);
                margin: var(--primary-spacing);
                width: calc(100% - 20px);
                margin-top: 0 !important;
                height: 150px;
            }
            .header-S26rhB{
                .avatar-3QF_VA{
                    background-color: var(--background-tertiary);
                    border-radius: var(--primary-rounding);
                    left: var(--primary-spacing);
                    position: relative;
                    border: none;
                    top: 0;
                    svg{
                        foreignObject{
                            mask: none;
                            img{
                                border-radius: var(--primary-rounding);
                            }
                        }
                    }
                    .pointerEvents-9SZWKj{
                        pointer-events: none;
                        mask: none;
                        ry: 6;
                    }
                }
                .headerTop-1PNKck{
                    flex-direction: column-reverse;
                    right: var(--primary-spacing);
                    align-items: flex-end;
                    top: 0;
                    .badgeList-2aoHPw{
                        padding-top: var(--primary-spacing) !important;
                        padding: 0;
                    }
                }
            }
            .nameTag-2Nlmsy{
                margin-left: calc(var(--tertiary-spacing) * 3.5) !important;
                top: calc(var(--tertiary-spacing) * 4.15);
                position: absolute;
                margin: 0;
            }
            .customStatusActivity-WKWGD-{
                margin-left: calc(var(--tertiary-spacing) * 3.5) !important;
                top: calc(var(--tertiary-spacing) * 4.8);
                max-width: 250px;
                position: absolute;
                padding: 0;
            }
        }
        .tabBarContainer-sCZC4w{
            border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
            background-color: var(--background-primary);
            margin-top: var(--primary-spacing);
            padding-top: var(--primary-spacing) !important;
            border: none;
            padding: 0;
            .tabBar-2hXqzU{
                background-color: var(--background-secondary-alt);
                border-radius: var(--primary-rounding);
                margin: 0 var(--primary-spacing);
                justify-content: center;
                .tabBarItem-30Te4-{
                    border-radius: var(--primary-rounding);
                    margin: var(--primary-spacing);
                    justify-content: center;
                    border: none;
                    width: 100px;
                    &:hover:not(.selected-g-kMVV){
                        background-color: var(--background-secondary);
                    }
                }
                .selected-g-kMVV{
                    background-color: var(--background-tertiary);
                }
            }
        }
    }
    .body-1Ukv50{
        background-color: var(--background-primary);
        .listRow-2nO1T6{
            padding-left: 6px !important;
            &:hover{
                background-color: var(--background-secondary);
            }
        }
        .pc-connections .connectedAccounts-1YaT2t:empty::before{
            display: none;
        }
    }
    .noTabBar-2Q-iE_{
        border-radius: var(--primary-rounding);
        margin-top: var(--primary-spacing);
        border: none;
    }
}