.tier-3CS7-p{
    background-color: var(--background-primary) !important;
    border-radius: var(--primary-rounding);
    padding: var(--primary-spacing);
    .tierHeader-3q9jIw{
        background-color: var(--background-secondary) !important;
        border-radius: var(--primary-rounding);
    }
    .tierBody-1d3UiS{
        background-color: var(--background-secondary) !important;
        border-radius: var(--primary-rounding);
        margin-top: var(--primary-spacing);
    }
    .wrapper-24fR1R{
        border-radius: var(--primary-rounding);
        .iconWrapper-3mOhDI{
            border-radius: var(--primary-rounding);
        }
    }
}