.tier-2pEkRl{
    background-color: var(--background-primary) !important;
    border-radius: var(--primary-rounding);
    padding: var(--primary-spacing);
    .tierHeader-l2pbOh{
        background-color: var(--background-secondary) !important;
        border-radius: var(--primary-rounding);
    }
    .tierBody-3aUxuc{
        background-color: var(--background-secondary) !important;
        border-radius: var(--primary-rounding);
        margin-top: var(--primary-spacing);
    }
    .wrapper-18yWki{
        border-radius: var(--primary-rounding);
        .iconWrapper-11Wvjn{
            border-radius: var(--primary-rounding);
        }
    }
}