.page-15bX59{
    max-width: none;
    .sidebar-3K3Z4C{
        top: calc(var(--tertiary-spacing) + var(--primary-spacing));
        height: calc(100% - calc(var(--tertiary-spacing) * 1.75));
        background-color: var(--background-secondary-alt);
        margin-top: calc(var(--tertiary-spacing) * 4.5);
        left: calc(var(--tertiary-spacing) * 2.56);
        border-radius: var(--primary-rounding);
        width: var(--sidebar-width);
        position: fixed;
        border: none;
        z-index: 1;
        .titleContainer-3fPic2{
            border-radius: var(--primary-rounding);
            padding: var(--primary-spacing);
            margin: var(--primary-spacing);
        }
        .list-1AJFv_{
            padding: 0 !important;
            .side-2ur1Qk{
                width: 100%;
                .item-3XjbnG{
                    margin-left: var(--primary-spacing);
                    margin: var(--primary-spacing);
                    margin-top: 0 !important;
                }
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
    .contentContainer-3hXFtK{
        margin-top: var(--primary-spacing);
        left: 0;
        .contentWidth-3aWel5{
            max-width: none;
            .header-JUTO-g{
                border-radius: var(--primary-rounding);
                padding: var(--primary-spacing);
                .top-K_jibn{
                    background-color: var(--background-secondary);
                    border-radius: var(--primary-rounding);
                    padding: var(--primary-spacing);
                    justify-content: center;
                    border: none;
                    .tabBarItem-3nPo4Z{
                        border-radius: var(--primary-rounding);
                        padding: var(--primary-spacing);
                        text-align: center;
                        border: none;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                    .tabBarItem-3nPo4Z[aria-selected="true"]{
                        background-color: var(--background-secondary-alt);
                    }
                }
                .searchContainer-2kJ46v,
                .searchContainer-23hFke{
                    border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
                    background-color: var(--background-secondary);
                    margin: 0;
                    .container-2oNtJn{
                        background-color: var(--background-secondary-alt);
                        margin: var(--primary-spacing);
                    }
                    button{
                        margin-right: var(--primary-spacing);
                    }
                }
            }
        }
    }
}