.platform-osx{
    .titleBar-1it3bQ{
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
    }
    .wrapper-1_HaEi{
        margin-top: var(--tertiary-spacing);
    }
}