.platform-osx{
    .titleBar-AC4pGV{
        background-color: var(--background-primary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
    }
    .wrapper-3NnKdC{
        margin-top: var(--tertiary-spacing);
    }
}