
.pageWrapper-2PwDoS{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    .card-2TuZPZ{
        background-color: var(--background-secondary) !important;
        &:hover{
            background-color: var(--background-tertiary) !important;
        }
    }
}
.scroller-RfJjkV{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    height: unset !important;
    .container-1wv6C6{
        background-color: var(--background-primary) !important;
    }
}
.sidebar-1tnWFu{
    .scrollerBase-_bVAAt{
        .discoverHeader-1vsvZ0{
            padding: calc(var(--primary-spacing) * 7) 0 calc(var(--tertiary-spacing) * 1.8) var(--primary-spacing);
            background-color: var(--background-secondary-alt);
            margin-bottom: var(--primary-spacing) !important;
            border-radius: var(--primary-rounding);
            margin: 0;
            &::after{
                width: calc(var(--sidebar-width) - calc(var(--secondary-spacing) + 10px));
                border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
                background-color: var(--background-primary);
                padding-left: var(--primary-spacing);
                padding-top: 10px;
                left: var(--primary-spacing);
                content: 'Discover';
                position: absolute;
                top: 60px;
                height: 40px;
            }
        }
        .container-1oeRFJ{
            margin: var(--primary-spacing) 0;
            &:hover{
                background-color: var(--background-secondary);
            }
        }
        .categoryItem-Kc_HK_{
            &:nth-child(2){
                &::before{
                    padding: calc(var(--secondary-spacing) + 2px) 0 0 var(--primary-spacing);
                    color: var(--header-primary);
                    text-transform: capitalize;
                    letter-spacing: 0.8px;
                    position: absolute;
                    content: 'Home';
                    font-size: 1.35rem;
                    line-height: 20px;
                    font-weight: 600;
                    top: 0;
                }
            }
        }
        .clickable-28SzVr:hover .layout-1qmrhw{
            background-color: transparent !important;
        }
        .selectedCategoryItem-ZjqSui{
            background-color: var(--background-secondary-alt) !important;
            .itemInner-3e_4G4{
                background-color: transparent;
            }
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
}