.container-2cd8Mz{
    background-color: var(--background-primary) !important;
    .tabBody-2dgbAs{
        margin: var(--primary-spacing);
        .peopleColumn-1wMU14{
            background-color: var(--background-secondary-alt);
            border-radius: var(--primary-rounding);
            margin-right: var(--primary-spacing);
        }
        .nowPlayingColumn-1eCBCN{
            border-radius: var(--primary-rounding);
            background: var(--background-secondary-alt);
            .container-1oAagU{
                border-radius: var(--primary-rounding);
                background-color: transparent;
                .scroller-hE2gWq{
                    border: none;
                    margin: 0;
                    .itemCard-3Etziu{
                        border-radius: var(--primary-rounding);
                        box-shadow: none !important;
                        &:hover,
                        &:active{
                            background-color: var(--background-tertiary);
                        }
                    }
                    &::-webkit-scrollbar{
                        display: none;
                    }
                }
            }
        }
        &::before{
            display: none;
        }
    }
}