.scroller-2XLwLg{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    overflow: hidden !important;
    .header-2EadGG{
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
        width: calc(100% - 20px);
        padding: 10px;
    }
}
.libraryHeader-2loraV{
    &::before{
        display: none;
    }
}
.scroller-1TOeMq{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
}