body{
    border-radius: var(--primary-rounding);
    .appMount-3lHmkl{
        border-radius: var(--primary-rounding);
        .app-1q1i1E{
            background-color: var(--background-primary);
            border-radius: var(--primary-rounding);
            margin: var(--primary-spacing);
            .app-2rEoOp{
                border-radius: var(--primary-rounding);
                background-color: transparent;
                .base-3dtUhz{
                    background-color: var(--background-primary);
                    border-radius: var(--primary-rounding);
                    flex-direction: column-reverse;
                    .content-98HsJk{
                        border-radius: var(--primary-rounding);
                    }
                }
                .layers-3q14ss{
                    border-radius: var(--primary-rounding);
                    .layer-3QrUeG{
                        transform: none !important;
                        opacity: 1 !important;
                    }
                    .animating-rRxada{
                        transform: none !important;
                        will-change: unset;
                        opacity: 1;
                    }
                }
            }
        }
        .errorPage-u8SYh4{
            border-radius: var(--primary-rounding);
            margin: var(--primary-spacing);
            min-height: unset;
            width: unset;
            .flexWrapper-2EgxO2{
                height: calc(100vh - 20px);
            }
        }
    }
}
