body {
    border-radius: var(--primary-rounding);
    .appMount-2yBXZl {
        border-radius: var(--primary-rounding);
        .app-3xd6d0 {
            background-color: var(--background-primary);
            border-radius: var(--primary-rounding);
            margin: var(--primary-spacing);
            .app-2CXKsg {
                border-radius: var(--primary-rounding);
                background-color: transparent;
                .layers-1YQhyW {
                    border-radius: var(--primary-rounding);
                    .layer-86YKbF {
                        transform: none !important;
                        opacity: 1 !important;
                        .container-1eFtFS {
                            .base-2jDfDU {
                                background-color: var(--background-primary);
                                border-radius: var(--primary-rounding);
                                flex-direction: column-reverse;
                                .content-1SgpWY {
                                    border-radius: var(--primary-rounding);
                                }
                            }
                        }
                    }
                    .animating-1rIrGV {
                        transform: none !important;
                        will-change: unset;
                        opacity: 1;
                    }
                }
            }
        }
        .errorPage-2pZ2Kq {
            border-radius: var(--primary-rounding);
            margin: var(--primary-spacing);
            min-height: unset;
            width: unset;
            .flexWrapper-2VyHoE {
                height: calc(100vh - 20px);
            }
        }
    }
}
