.lookFilled-yCfaCM,
.lookOutlined-3yKVGo{
    border-radius: var(--primary-rounding) !important;
}

.lookFilled-yCfaCM.colorGrey-2iAG-B,
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: var(--btn-bg-primary) !important;
    &:hover{
        background-color: var(--btn-bg-secondary-hover) !important;
    }
}
