.input-2g-os5{
    border-radius: var(--primary-rounding) !important;
    border-color: var(--background-secondary-alt);
    &:hover:not(:focus-within){
        border-color: var(--background-tertiary);
    }
    &:focus-within{
        border-color: var(--background-primary);
    }
}
.radioIconForeground-2BMavi{
    color : var(--interactive-active);
}
.bar-1Bhnl9{
    background-color: var(--background-tertiary) !important;
    .barFill-2Bh7CX{
        background-color: var(--background-accent);
    }
}
.control-1fl03-{
    .slider-32CRPX{
        svg{
            display: none;
        }
    }
}