.menu-1QACrS{
    background-color: var(--background-secondary);
    border-radius: var(--primary-rounding);
    .button-1zW0-r{
        border-radius: var(--primary-rounding);
    }
    .colorDefault-CDqZdO.focused-3qFvc8:not(.colorDanger-3n-KnP){
        background-color: var(--background-secondary-alt) !important;
    }
}