// Autocomplete
.autocomplete-3jLKbj{
    background-color: var(--background-tertiary) !important;
    border-radius: var(--primary-rounding);
    box-shadow: none;
    .selected-3H3-RC{
        background-color: var(--background-primary) !important;
        border-radius: var(--primary-rounding);
    }
}

.autocomplete-3NRXG8{
    background-color: var(--background-tertiary);
    border-radius: var(--primary-rounding);
    box-shadow: none;
    .autocompleteInner-y1mjDl{
        background-color: var(--background-tertiary);
        .list-2u03C-{
            background-color: var(--background-secondary);
            border-radius: var(--primary-rounding);
            margin: var(--primary-spacing);
            height: 95%;
            .selected-3H3-RC{
                background-color: var(--background-secondary-alt);
            }
            .base-2v-uc0{
                border-radius: var(--primary-rounding);
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
        .categoryHeader-OpJ1Ly{
            background-color: var(--background-secondary-alt);
            border-radius: var(--primary-rounding);
            margin-bottom: var(--primary-spacing);
            padding: 5px;
            &::after{
                display: none;
            }
        }
    }
}

.root-1e2tfc{
    background-color: var(--background-tertiary) !important;
    border-radius: var(--primary-rounding);
    .callAvatarMask-fiNMWy{
        foreignObject{
            mask: none;
            img{
                border-radius: var(--primary-rounding);
            }
        }
    }
    .centerButton-1IShs7{
        border-radius: var(--primary-rounding);
    }
    .border-2BJQjd{
        border-radius: 10px;
    }
}