.searchResultsWrap-5RVOkx{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin-left: var(--primary-spacing);
    .searchHeader-1r_ZSh{
        background-color: var(--background-secondary);
        border-radius: var(--primary-rounding);
        margin: var(--primary-spacing);
    }
    [aria-selected="true"]{
        background-color: var(--background-primary) !important;
    }
    .scroller-3iiyhZ{
        padding: 0 var(--primary-spacing);
        .searchResultGroup-1lU_-i{
            margin-bottom: 0;
            .container-rZM65Y{
                background-color: var(--background-secondary);
                border-radius: var(--primary-rounding);
                .searchResult-O9NDji{
                    background-color: transparent;
                }
            }
        }
        .container-1-h9mY{
            background-color: var(--background-secondary);
            border-radius: var(--primary-rounding);
            margin: var(--primary-spacing) 0;
            margin-top: 0 !important;
            .pageControlContainer-6nt7kY{
                margin-top: 0 !important;
                [aria-current="page"]{
                    background-color: var(--background-secondary-alt) !important;
                }
            }
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
}
.container-2McqkF{
    background-color: var(--background-secondary) !important;
    border-radius: var(--primary-rounding);
    .option-2KkUJO{
        border-radius: var(--primary-rounding);
        &:hover{
            background-color: var(--background-secondary-alt) !important;
        }
        &::after{
            display: none;
        }
    }
}
