.threadSidebar-1o3BTy{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    margin-left: 0 !important;
    .container-1r6BKw.themed-ANHk51{
        background-color: var(--background-primary);
    }
    .chat-1cCjJ5{
        &::before{
            display: none;
        }
    }
}