.threadSidebar-1o3BTy{
    background-color: var(--background-secondary-alt);
    border-radius: var(--primary-rounding);
    margin: var(--primary-spacing);
    margin-left: 0 !important;
    .container-ZMc96U.themed-Hp1KC_{
        background-color: var(--background-primary);
    }
    .chat-3JZdy8{
        &::before{
            display: none;
        }
    }
}