.tooltipPrimary-3qLMbS{
    background-color: var(--background-secondary) !important;
    border-radius: var(--primary-rounding);
    z-index: 3001;
    .tooltipPointer-3L49xb{
        border-top-color: var(--background-secondary) !important;
    }
}
.popoutContainer-2wbmiM{
    background-color: var(--background-secondary);
    border-radius: var(--primary-rounding)
}