.userPopout-2j1gM4{
    background-color: transparent;
    max-height: 720px;
    box-shadow: none;
    .headerNormal-3Zn_yu{
        margin-bottom: var(--primary-spacing);
        .banner-1YaD3N{
            border-radius: var(--primary-rounding);
            height: 120px;
        }
    }
    .avatarWrapper-eenWra{
        top: 140px;
        left: var(--primary-spacing);
        .avatar-2Vndt_{
            background-color: var(--background-primary);
            border-radius: var(--primary-rounding);
            border: none;
            svg{
                foreignObject{
                    mask: none;
                    img{
                        border-radius: var(--primary-rounding);
                    }
                }
                .pointerEvents-9SZWKj{
                    pointer-events: none;
                    height: 16px;
                    mask: none;
                    ry: 3;
                    x: 60;
                    y: 60;
                }
            }
        }
        .avatarHint-k7pYop{
            border-radius: var(--primary-rounding);
            left: 0;
            top: 0;
            foreignObject{
                mask: none;
            }
        }
    }
    .headerTop-3GPUSF{
        background-color: var(--background-tertiary);
        border-radius: var(--primary-rounding);
        padding-top: var(--primary-spacing);
        padding-left: calc(var(--primary-spacing) * 10);
        padding-bottom: calc(var(--tertiary-spacing) * 2);
        height: 42px;
        .profileBadges-2pItdR{
            max-width: 100%;
            bottom: var(--primary-spacing);
            left: var(--primary-spacing);
            right: unset;
            top: unset;
        }
    }
    .body-2wLx-E{
        background-color: var(--background-tertiary);
        padding: var(--primary-spacing) !important;
        border-radius: var(--primary-rounding);
        margin-top: var(--primary-spacing);
        box-shadow: none;
        .bodyInnerWrapper-2bQs1k{
            background-color: var(--background-secondary);
            border-radius: var(--primary-rounding);
            padding: var(--primary-spacing);
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .footer-3naVBw{
        background-color: var(--background-tertiary);
        padding: var(--primary-spacing);
        .input-2z42oC{
            border-radius: var(--primary-rounding);
            border: none;
        }
    }
}