.wrapper-28eC3z{
    svg{
        foreignObject{
            border-radius: var(--primary-rounding);
            mask: none;
            rect{
                fill: var(--background-secondary) !important;
            }
        }
    }
    .upperBadge-1V6Iyi{
        right: -5px;
        top: -5px;
        .iconBadge-32fMme{
            background-color: var(--background-secondary);
            border-radius: var(--primary-rounding);
        }
    }
    .lowerBadge-3WTshO{
        bottom: -5px;
        right: -5px;
        .numberBadge-37OJ3S{
            border-radius: var(--primary-rounding);
        }
    }
}
.circleIconButton-1VxDrg{
    background-color: var(--background-secondary);
    color: var(--interactive-normal);
    &:hover{
        background-color: var(--background-secondary);
        color: var(--interactive-hover);
    }
}
.childWrapper-1j_1ub{
    background-color: var(--background-secondary);
    &:hover{
        background-color: var(--background-secondary) !important;
    }
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub{
    background-color: var(--background-secondary) !important;
}
.wrapperSimple-Js2rIO{
    border-radius: 0;
}
.circleIconButton-1VxDrg.selected-2r1Hvo{
    background-color: var(--background-tertiary) !important;
}