.guilds-1SWlCJ{
    background-color: var(--background-primary);
    border-radius: var(--primary-rounding);
    margin-right: var(--primary-spacing);
    .scroller-1Bvpku{
        background-color: transparent;
        padding: var(--primary-spacing) 0;
        padding-bottom: calc(var(--primary-spacing) - 3px);
        [style="position: absolute; pointer-events: none; min-height: 0px; min-width: 1px; flex: 0 0 auto; height: 10px;"]{
            display: none;
        }
        .circleIconButton-hZmpE8{
            background-color: var(--background-secondary-alt);
            color: var(--interactive-normal);
            &:hover{
                background-color: var(--background-secondary);
                color: var(--interactive-hover);
            }
        }
        .childWrapper-anI2G9{
            background-color: var(--background-secondary-alt);
            &:hover{
                background-color: var(--background-secondary) !important;
            }
        }
        .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9{
            background-color: var(--background-tertiary) !important;
        }
    }
}
.container-1r6BKw.themed-ANHk51{
    justify-content: flex-end;
    .children-19S4PO{
        border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
        background-color: var(--background-secondary-alt);
        width: calc(var(--sidebar-width) - 0px);
        padding-left: var(--primary-spacing);
        position: fixed;
        height: 60px;
        left: 102px;
        top: 50px;
        .title-29uC1r,
        .input-2A_zIr{
            max-width: var(--sidebar-width);
            text-transform: capitalize;
            white-space: normal;
            line-height: normal;
            font-size: 1.4rem;
        }
        .topic-TCb_qw{
            left: calc(var(--primary-spacing) * 38);
            top: calc(var(--primary-spacing) * 6.5);
            display: block !important;
            max-width: 520px;
            position: fixed;
        }
        .akaBadge-1M-1Gw{
            left: calc(var(--primary-spacing) * 38);
            top: calc(var(--primary-spacing) * 6.55);
            display: block !important;
            max-width: 520px;
            position: fixed;
        }
        .nicknames-1XK4Zt{
            left: calc(var(--primary-spacing) * 43);
            top: calc(var(--primary-spacing) * 6.5);
            display: block !important;
            max-width: 520px;
            position: fixed;
        }
        .topPill-30KHOu{
            left: calc(var(--primary-spacing) * 37.5);
            top: calc(var(--primary-spacing) * 6.3);
            max-width: 520px;
            position: fixed;
        }
    }
}
.discoverHeader-3th5O9{
    padding: calc(var(--primary-spacing) * 1) 0 calc(var(--tertiary-spacing) * 3.3) var(--primary-spacing) !important;
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--primary-rounding) !important;
    margin-bottom: var(--primary-spacing) !important;
    margin: 0 !important;
}
.searchTitle-36D1cB{
    border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
    background-color: var(--background-primary);
    left: calc(var(--primary-spacing) * 11.2);
    width: calc(var(--sidebar-width) - 30px);
    top: calc(var(--primary-spacing) * 10);
    padding-left: var(--primary-spacing);
    color: var(--text-normal);
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    position: fixed;
    height: 58px;
}
.applicationStore-1pNvnv{
    .container-1r6BKw.themed-ANHk51{
        left: -10px;
        position: fixed;
        top: -10px;
    }
}
.callContainer-36WRfH{
    .videoControls-24w7Xp{
        flex-direction: column-reverse;
        .topControls-KKImPZ {
            transform: none !important;
            position: fixed;
            left: 102px;
            opacity: 1;
            top: 50px;
            .container-1r6BKw{
                width: calc(100% - 130px);
                .children-19S4PO{
                    margin-left: var(--secondary-spacing);
                    .title-29uC1r,
                    .input-2A_zIr{
                        text-transform: capitalize;
                        line-height: normal;
                        font-size: 1.4rem;
                    }
                    .title-29uC1r{
                        padding-top: var(--primary-spacing);
                    }
                    .status-1XNdyw{
                        padding-top: 17px;
                    }
                    .iconWrapper-2OrFZ1,
                    .divider-3FBTu8{
                        display: none;
                    }
                    .status-1XNdyw{
                        margin-right: 115px;
                    }
                }
            }
            .quickSelect-3BxO0K{
                position: relative;
                right: 130px;
            }
            &::before{
                border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
                background-color: var(--background-secondary-alt);
                position: absolute;
                content: '';
                height: 60px;
                width: var(--sidebar-width);
                z-index: -1;
            }
        }
    }
    .akaBadge-1M-1Gw,
    .nicknames-1XK4Zt,
    .toolbar-1t6TWx,
    .quickSelect-3BxO0K{
        transition: 250ms ease;
        opacity: 0;
    }
    &:hover{
        .akaBadge-1M-1Gw,
        .nicknames-1XK4Zt,
        .toolbar-1t6TWx,
        .quickSelect-3BxO0K{
            opacity: 1;
        }
    }
}