// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
// ║ Note!                                                                                                              ║
// ╠════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Variables with a numerical values will have variants; Primary, Secondary, Tertiary. Secondary variables will have  ║
// ║ twice the value of the Primary variables. Tertiary Variables will have four times the value of the Primary         ║
// ║ variable. Changing the multiplier value of the secondary and tertiary variables will significantly affect Nebula.  ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╗
// ║ Variables                ║ Variables are values that can be used across the Nebula code.                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.theme-dark,
.theme-light{
    // ╔══════════════════════╦════════════════════════════════════╗
    // ║ Color Variables      ║ Format: HEX, var()                 ║
    // ╚══════════════════════╩════════════════════════════════════╝

    --background-primary: #25294a;
    --background-secondary: #202442;
    --background-secondary-alt: #2D325A;
    --background-tertiary: #1B1F38;

    --btn-bg-primary: var(--background-tertiary);
    --btn-bg-secondary: #202442;
    --btn-bg-primary-hover: var(--background-secondary);
    --btn-bg-secondary-hover: var(--background-primary);

    --background-modifier-selected: var(--background-secondary);
    --background-modifier-hover: var(--background-primary);
    --background-modifier-active: var(--background-secondary-alt);

    --interactive-active: #ffffff;
    --interactive-hover: #ffffff6e;
    --interactive-normal: #ffffffc9;

    --background-accent: #333b75;

    --text-normal: #d8dee9;
    --text-secondary: #d8dee98a;

    --header-primary: var(--text-normal);
    --header-secondary: var(--text-secondary);

    --text-link: var(--text-normal);

    --focus-primary: #fff;

    // ╔══════════════════════╦════════════════════════════════════╗
    // ║ Text Variables       ║ Format: 'text';                    ║
    // ╚══════════════════════╩════════════════════════════════════╝

    --primary-font: 'Google Sans',sans-serif;
    --font-display: var(--primary-font);

    --theme: 'Nebula';
    --author: 'Loremly';
    --version: '(v5.10.05)';

    // ╔══════════════════════╦════════════════════════════════════╗
    // ║ Cosmetic Variables   ║ Format: px, calc()                 ║
    // ╚══════════════════════╩════════════════════════════════════╝

    --primary-rounding: 5px;
    --secondary-rounding: calc(var(--primary-rounding) * 2);
    --tertiary-rounding: calc(var(--primary-rounding) * 4);

    --primary-spacing: 10px;
    --secondary-spacing: calc(var(--primary-spacing) * 2);
    --tertiary-spacing: calc(var(--primary-spacing) * 4);

    --sidebar-width: 260px !important; // Please dont change.

    --transition-normal: 250ms;
    --transition-slow: calc(var(--transition-normal) * 2) ease;
    --transition-fast: cal(var(--transition-normal) / 2) ease;

    --saturation-factor: 1 !important;
}
