.platform-web{
    .container-ZMc96U.themed-Hp1KC_{
        .children-3xh0VB{
            top: var(--secondary-spacing);
            .topic-11NuQZ{
                top: calc(var(--tertiary-spacing) - 4px);
            }
            .topPill-3DJJNV{
                top: calc(var(--tertiary-spacing) - 8px);
            }
        }
    }
}