.platform-web{
    .container-1r6BKw.themed-ANHk51{
        .children-19S4PO{
            top: var(--secondary-spacing);
            .topic-TCb_qw{
                top: calc(var(--tertiary-spacing) - 4px);
            }
            .topPill-30KHOu{
                top: calc(var(--tertiary-spacing) - 8px);
            }
        }
    }
}