[aria-label="USER_SETTINGS"].layer-86YKbF,
[aria-label="GUILD_SETTINGS"]{
    margin-left: calc(var(--tertiary-spacing) * 2.05);
    background-color: transparent;
    pointer-events: none;
    .standardSidebarView-E9Pc3j{
        background-color: transparent;
        border-radius: var(--primary-rounding);
        pointer-events: none;
        .contentRegion-3HkfJJ{
            background: var(--background-secondary-alt);
            border-radius: var(--primary-rounding);
            margin: var(--primary-spacing);
            margin-left: 0 !important;
            pointer-events: all !important;
            justify-content: center;
            .customColumn-2n-oKU{
                max-width: none;
                .customScroller-m1-jZn>div{
                    max-width: none !important;
                }
            }
            .contentRegionScroller-2_GT_N{
                background-color: transparent;
                .contentColumnDefault-3eyv5o,
                .contentColumnMinimal-32PuDO{
                    min-width: calc(100% - 45px);
                    padding: 60px 20px 20px;
                    .sectionTitle-3j2YI1:not(.marginTop40-Q4o1tS .sectionTitle-3j2YI1){
                        border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
                        top: calc(var(--tertiary-spacing) + calc(var(--primary-rounding) + 5px));
                        background-color: var(--background-secondary-alt);
                        left: calc(var(--tertiary-spacing) * 2.56);
                        width: var(--sidebar-width);
                        position: fixed;
                        height: 60px;
                        h1{
                            padding-left: var(--primary-spacing) !important;
                            padding: var(--secondary-spacing);
                            padding-top: 20px !important;
                            font-size: 24px;
                            margin: 0;
                        }
                        h5{
                            padding-left: var(--primary-spacing) !important;
                            padding: var(--secondary-spacing);
                            color: var(--header-primary);
                            padding-top: 26px !important;
                            text-transform: capitalize;
                            font-weight: 600;
                            font-size: 20px;
                            margin: 0;
                        }
                    }
                }
                &::after{
                    border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
                    width: calc(var(--sidebar-width) - calc(var(--secondary-spacing) + var(--secondary-spacing)));
                    background-color: var(--background-primary);
                    top: calc(var(--primary-spacing) * 6);
                    color: var(--text-normal);
                    letter-spacing: .6px;
                    align-items: center;
                    content: 'Settings';
                    position: absolute;
                    line-height: 20px;
                    font-weight: 600;
                    text-align: left;
                    font-size: 17px;
                    display: flex;
                    padding: 10px;
                    left: -260px;
                    height: 30px;
                }
                .tools-kIrEGr{
                    left: var(--secondary-spacing);
                    .closeButton-PCZcma{
                        background-color: var(--background-secondary);
                        border-radius: var(--primary-rounding);
                        transition: var(--transition-normal);
                        position: relative;
                        border: none;
                        height: 48px;
                        width: 48px;
                        flex: unset;
                        left: 2px;
                        top: -2px;
                        svg{
                            height: 24px;
                            width: 24px;
                            path{
                                color: var(--interactive-normal) !important;
                                transition: var(--transition-normal);
                            }
                        }
                        &:hover{
                            background-color: var(--background-tertiary);
                            svg path{
                                fill: var(--interactive-hover) !important;
                            }
                        }
                    }
                    .keybind-13vtq8{
                        display: none;
                    }
                }
            }
            .noticeRegion-qjyUVg{
                padding-right: 0 !important;
                max-width: 100%;
                .container-20TyK0{
                    background-color: var(--background-tertiary) !important;
                    border-radius: var(--primary-rounding);
                    box-shadow: none;
                    button{
                        border-radius: var(--primary-rounding) !important;
                    }
                }
            }
            .hero-1aNo0v{
                max-width: none;
            }
        }
        &::before{
            width: calc(var(--sidebar-width) - var(--secondary-spacing));
            background-color: var(--background-secondary-alt);
            left: calc(var(--tertiary-spacing) * 2.55);
            top: calc(var(--tertiary-spacing) * 1.25);
            border-radius: var(--primary-rounding);
            padding: 0 var(--primary-spacing);
            color: var(--text-normal);
            content: 'Other Settings';
            letter-spacing: .6px;
            pointer-events: all;
            align-items: center;
            text-align: center;
            line-height: 20px;
            font-weight: 600;
            font-size: 24px;
            position: fixed;
            display: flex;
            height: 60px;
        }
    }
    
}
